    <!-- Header Start  -->
<div class="header-area header-white header-sticky d-none d-lg-block">
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <!-- Header Logo Start -->
                <div class="header-logo">
                    <a asp-controller="home" asp-action="index"><img src="~/images/logo.png" width="154" height="46" alt="Logo" /></a>
                </div>
                <!-- Header Logo End -->
            </div>
            <div class="col-lg-6">
                <div class="header-menu">
                    <ul class="nav-menu">
                        <li>
                            <a asp-controller="home" asp-action="index">Home</a>
                        </li>
                        <li><a asp-controller="about" asp-action="index">About</a></li>
                        <li>
                            <a asp-controller="shop" asp-action="index">Shop</a>
                        </li>
                        <li>
                            <a asp-controller="compare" asp-action="index">Compare </a>

                        </li>
                        <li>
                            <a asp-controller="blog" asp-action="index">Blog</a>
                        </li>
                        <li><a asp-controller="contact" asp-action="index">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <!-- Header Meta Start -->
                <div class="header-meta">
                    <div class="dropdown">
                        <a class="action" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>

                        <div class="dropdown-menu dropdown-search">
                            <!-- Header Search Start -->
                            <div class="header-search">
                                <form  >
                                    <input type="text" name="search" placeholder="Enter your search key ... " />
                                    <button type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>
                            <!-- Header Search End -->
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="action" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fa-regular fa-user"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-profile">
                            <li><a asp-controller="myaccount" asp-action="index">My Account</a></li>
                            <li><a asp-controller="cart" asp-action="index">Cart</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="account" asp-action="logout">Sign out</a></li>

                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="nav-link" asp-area="adminarea" asp-controller="dashboard" asp-action="index">Admin</a>
                                }
                            }
                            else
                            {
                                <li><a asp-controller="account" asp-action="login">Sign In</a></li>
                            }
                        </ul>
                    </div>
                    <a class="action" asp-controller="wishlist" asp-action="index"><i class="fa-regular fa-heart"></i></a>

                    <div class="dropdown">
                        <a class="action" asp-controller="cart" asp-action="index" role="button" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-cart-shopping"></i>
                            @if (ViewBag.CartCount == 0)
                            {
                                <span class="number">  0 </span>
                            }
                            else
                            {

                                <span class="number"> @ViewBag.CartCount </span>
                            }
                        </a>

                        <div class="dropdown-menu dropdown-cart">
                            <div class="cart-content" id="cart-content">
                                <ul>
                                    <li>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @if (ViewBag.CartProducts != null)
                                            {
                                                @foreach (CartVM item in ViewBag.CartProducts)
                                                {
                                                    <!-- Single Cart Item Start -->
                                                    <div class="single-cart-item">
                                                        <div class="cart-thumb">
                                                            <img src="~/images/product/@item.ImageUrl" width="98" height="98" alt="Cart" />
                                                            <span class="product-quantity">@item.BasketCount</span>
                                                        </div>
                                                        <div class="cart-item-content">
                                                            <h6 class="product-name">
                                                                <a asp-controller="product" asp-action="index">
                                                                    @item.Name
                                                                </a>
                                                            </h6>
                                                            <span class="product-price">$@item.Price</span>

                                                            <a class="cart-remove" asp-controller="cartcontroller" asp-action="removeoneitem" asp-route-id="@item.Id"><i class="las la-times"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- Single Cart Item End -->
                                                }

                                            }
                                            else
                                            {
                                                <p>Empty</p>    
                                            }

                                        }
                                        
                                      
                                    </li>

                                </ul>
                            </div>

                            <div class="cart-price">
                                <div class="cart-subtotals">
                                    <div class="price-inline">
                                        <span class="label">Subtotal</span>
                                        <span class="value">$@ViewBag.TotalPrice</span>
                                    </div>
                                    <div class="price-inline">
                                        <span class="label">Shipping</span>
                                        <span class="value">$0.00</span>
                                    </div>
                                
                                </div>
                                <div class="cart-total">
                                    <div class="price-inline">
                                        <span class="label">Total</span>
                                        <span class="value">$@ViewBag.TotalPrice</span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-btn">
                                <a asp-controller="cart" asp-action="index" class="btn btn-dark btn-hover-primary d-block">Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header Meta End -->
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Header Mobile Start -->
<div class="header-mobile section d-lg-none">
    <!-- Header Mobile top Start -->
    <div class="header-mobile-top header-sticky">
        <div class="container">
            <div class="row row-cols-3 gx-2 align-items-center">
                <div class="col">
                    <!-- Header Toggle Start -->
                    <div class="header-toggle">
                        <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <!-- Header Toggle End -->
                </div>
                <div class="col">
                    <!-- Header Logo Start -->
                    <div class="header-logo text-center">
                        <a asp-controller="home" asp-action="index"><img src="~/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col">
                    <!-- Header Action Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="fa-regular fa-user"></i></a>

                            <ul class="dropdown-menu dropdown-profile">
                                <li>
                                    <a asp-controller="myaccount" asp-action="index">My Account</a>
                                </li>
                                <li><a asp-controller ="cart" asp-action="index">Cart</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-controller="account" asp-action="logout">Sign out</a></li>
                                }
                                else
                                {
                                    <li><a asp-controller="account" asp-action="login">Sign In</a></li>
                                }
                                
                            </ul>
                        </div>
                        <a class="action" asp-controller="cart" asp-action="index">
                            <i class="fa-solid fa-cart-shopping"></i>
                            @if (ViewBag.CartCount == 0)
                            {
                                <span class="number">  0 </span>
                            }
                            else
                            {

                                <span class="number"> @ViewBag.CartCount </span>
                            }
                        </a>
                    </div>
                    <!-- Header Action End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Mobile top End -->
    <!-- Header Mobile Bottom End -->
    <div class="header-mobile-bottom">
        <div class="container">
            <!-- Header Search Start -->
            <div class="header-search">
                <form >
                    <input name="search" type="text" placeholder="Enter your search key ... " />
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <!-- Header Search End -->
        </div>
    </div>
    <!-- Header Mobile Bottom End -->
</div>
<!-- Header Mobile End -->
<!-- off Canvas Start -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
    <div class="offcanvas-header">
        <!-- Canvas Action Start -->
        <div class="canvas-action">
          
            <a class="action" asp-controller="wishlist" asp-action="index">
                <i class="icon-heart"></i> Wishlist
                <span class="action-num">(3)</span>
            </a>
        </div>
        <!-- Canvas Action end -->
        <!-- Canvas Close bar Start -->
        <div class="canvas-close-bar">
            <span>Menu</span>
            <button class="menu-close" data-bs-dismiss="offcanvas">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
        </div>
        <!-- Canvas Close bar End -->
    </div>

    <div class="offcanvas-body">
        <!-- Canvas Menu Start -->
        <div class="canvas-menu">
            <nav>
                <ul class="nav-menu">

                    <li><a asp-controller="about" asp-action="index">About</a></li>
                    <li>
                        <a asp-controller="shop" asp-action="index">Shop</a>
                    </li>
                    <li>
                        <a asp-controller="blog" asp-action="index">Blog</a>

                    </li>
                    <li><a asp-controller="contact" asp-action="index">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Canvas Menu End -->
    </div>
</div>
<!-- off Canvas End -->