
@model homeVM
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Slider Section Start -->
<div class="section slider-section-02">
    <div class="slider-active">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach(var slider in Model.Sliders)
                {
                    <!-- Single Slider Start  -->
                    <div class="single-slider slider-02 swiper-slide animation-style-01" style="
                                background-image: url(images/slider/@slider.ImageUrl);
                            ">
                        <div class="container">
                            <!-- Slider Content Start -->
                            <div class="slider-content-02 text-center">
                                <h2 class="title">
                                    @slider.Title
                                </h2>
                                <p>
                                    @slider.Description <br />
                                    Our Shop, 30% Offer All Stylish Kitchen
                                    Furniture
                                </p>
                                <a asp-controller="shop" asp-action="index" class="btn btn-primary btn-hover-dark btn-margin">purchase now</a>
                            </div>
                            <!-- Slider Content End -->
                        </div>
                    </div>
                    <!-- Single Slider End  -->
                }

                <!-- Add Arrows -->
                <div class="swiper-button-next">Next</div>
                <div class="swiper-button-prev">Prev</div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Section End -->
<!-- Benefit Section Start -->
<div class="section section-padding-02">
    <div class="container">
        <!-- Benefit Wrapper Start -->
        <div class="benefit-wrapper">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Single Benefit Start -->
                    <div class="single-benefit">
                        <img src="~/images/icon/icon-1.png" width="70" height="92" alt="Icon" />
                        <h3 class="title">Free Shipping</h3>
                        <p>
                            Get 10% cash back, free shipping, free
                            returns, and more at 1000+ top retailers!
                        </p>
                    </div>
                    <!-- Single Benefit End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Benefit Start -->
                    <div class="single-benefit">
                        <img src="~/images/icon/icon-2.png" width="70" height="92" alt="Icon" />
                        <h3 class="title">Safe Payment</h3>
                        <p>
                            Get 10% cash back, free shipping, free
                            returns, and more at 1000+ top retailers!
                        </p>
                    </div>
                    <!-- Single Benefit End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Benefit Start -->
                    <div class="single-benefit">
                        <img src="~/images/icon/icon-3.png" width="70" height="92" alt="Icon" />
                        <h3 class="title">Online Support</h3>
                        <p>
                            Get 10% cash back, free shipping, free
                            returns, and more at 1000+ top retailers!
                        </p>
                    </div>
                    <!-- Single Benefit End -->
                </div>
            </div>
        </div>
        <!-- Benefit Wrapper End -->
    </div>
</div>
<!-- Benefit Section End -->
<!-- New Product Section Start -->
<div class="section section-padding-02">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title-02 text-center">
            <h2 class="title">New Products</h2>
        </div>
        <!-- Section Title End -->
        <!-- Product Wrapper 02 Start -->
        <div class="product-wrapper-02">
            <!-- Product Menu Start -->
            <div class="product-menu">
                <ul class="nav justify-content-center">
                    <li>
                        <button class="active" data-bs-toggle="tab" data-bs-target="#tab1">
                            All
                        </button>
                    </li>
              
                 
                </ul>
            </div>
            <!-- Product Menu End -->
            <!-- Product Tabs Content Start -->
            <div class="product-tabs-content">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1">
                        <div class="row">
                            @foreach(var product in Model.Products)
                            {
                                <div class="col-lg-3 col-sm-6">
                                    <!-- Single Product Start -->
                                    <div class="single-product-02">
                                        <div class="product-images">
                                            <a asp-controller="productdetail" asp-action="index" asp-route-id="@product.Id"><img src="~/images/product/@product.ProductImages.FirstOrDefault().ImageUrl" width="270" height="303" alt="product" /></a>

                                            <ul class="product-meta">
                                                <li>
                                                    <a class="action" data-bs-toggle="modal" data-bs-target="#quickView" asp-controller="productdetail" asp-action="index" asp-route-id="@product.Id">
                                                        <i class="fa-solid fa-magnifying-glass"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <a class="action" asp-controller="cart" asp-action="add" asp-route-id="@product.Id" asp-route-name="@product.Name">
                                                            <i class="fa-solid fa-cart-shopping"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="action" asp-controller="account" asp-action="login">
                                                            <i class="fa-solid fa-cart-shopping"></i>
                                                        </a>
                                                    }
                                                </li>
                                                <li>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <a class="action" asp-controller="wishlist" asp-action="add" asp-route-id="@product.Id"><i class="fa-regular fa-heart"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="action" asp-controller="account" asp-action="login"><i class="fa-regular fa-heart"></i></a>
                                                    }
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <h4 class="title">
                                                <a href="#l">
                                                   @product.Name
                                                </a>
                                            </h4>
                                            <div class="price">
                                                <span class="sale-price">$@product.Price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
            <!-- Product Tabs Content End -->
        </div>
        <!-- Product Wrapper 02 End -->
    </div>
</div>
<!-- New Product Section End -->
<!-- Banner Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Single Banner Start -->
                <div class="single-banner-03">
                    <img src="~/images/banner/banner-05.jpg" width="570" height="299" alt="Banner" />

                    <div class="banner-content">
                        <h6 class="sub-title">High-Quality</h6>
                        <h3 class="title">
                            <a href="shop-grid-left-sidebar.html">
                                New Kitchen <br />
                                Furniture
                            </a>
                        </h3>
                        <a class="btn btn-primary btn-hover-dark" asp-controller="shop" asp-action="index">Shop Now</a>
                    </div>
                </div>
                <!-- Single Banner End -->
            </div>
            <div class="col-lg-6">
                <!-- Single Banner Start -->
                <div class="single-banner-03">
                    <img src="~/images/banner/banner-06.jpg" width="570" height="299" alt="Banner" />

                    <div class="banner-content">
                        <h6 class="sub-title">Best-Quality</h6>
                        <h3 class="title">
                            <a href="shop-grid-left-sidebar.html">
                                Bed Room <br />
                                Furniture
                            </a>
                        </h3>
                        <a class="btn btn-primary btn-hover-dark" asp-controller="shop" asp-action="index">Shop Now</a>
                    </div>
                </div>
                <!-- Single Banner End -->
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<!-- Countdown Section Start -->
<div class="section section-padding overflow-hidden bg-color-01">
    <div class="container">
        <div class="countdown-main-wrapper">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Countdown Content Start -->
                    <div class="countdown-content">
                        <h2 class="title">
                            Chair Collection <span>50%</span> Off
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing sed do eiusmol tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad
                            mini veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip eao commodo
                            consequat Duis aute irure.
                        </p>

                        <div class="countdown-wrapper">
                            <div class="countdown" data-countdown="2024/11/20" data-format="short">
                                <div class="single-countdown">
                                    <span class="count countdown__time daysLeft"></span>
                                    <span class="value countdown__time daysText"></span>
                                </div>
                                <div class="single-countdown">
                                    <span class="count countdown__time hoursLeft"></span>
                                    <span class="value countdown__time hoursText"></span>
                                </div>
                                <div class="single-countdown">
                                    <span class="count countdown__time minsLeft"></span>
                                    <span class="value countdown__time minsText"></span>
                                </div>
                                <div class="single-countdown">
                                    <span class="count countdown__time secsLeft"></span>
                                    <span class="value countdown__time secsText"></span>
                                </div>
                            </div>
                        </div>

                        <a asp-controller="shop" asp-action="index" class="btn btn-primary btn-hover-dark">Shop Now</a>
                    </div>
                    <!-- Countdown Content End -->
                </div>

                <div class="col-lg-6">
                    <!-- Countdown Images Start -->
                    <div class="countdown-images">
                        <div class="shape-1"></div>
                        <div class="shape-2"></div>
                        <div class="shape-3"></div>

                        <div class="image-box">
                            <img src="~/images/countdown.png" width="480" height="383" alt="Countdown" />
                        </div>
                    </div>
                    <!-- Countdown Images End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Countdown Section End -->

<!-- Brand Logo Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="brand-row">
            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="~/images/brand/brand-1.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>

            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="~/images/brand/brand-2.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>

            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="~/images/brand/brand-3.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>

            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="~/images/brand/brand-4.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>

            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="~/images/brand/brand-5.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>
        </div>
    </div>
</div>
<!-- Brand Logo Section End -->